@{
    Layout = "_Layout";
}

@section aside
{
    <aside class="col-12 col-md-12 col-lg-2">
        <div class="sidebar box sticky-column">
            <ul class="nav">
                <li class="nav__item">
                    <a  href="@Url.Action("Index", "Home")"><i class="icon-user"></i>About</a>
                </li>
                <li class="nav__item">
                    <a href="@Url.Action("Research", "Home")"><i class="icon-codesandbox"></i>Research Projects</a>
                </li>
                <li class="nav__item">
                    <a href="@Url.Action("Skill", "Home")"><img src="/Images/logical-thinking.png" width="55px" alt="Skills"/>Skills</a>
                </li>
                <li class="nav__item">
                    <a href="@Url.Action("Education", "Home")"><img src="/Images/graduation-cap.png" width="55px" alt="Skills"/>Education</a>
                </li>
                <li class="nav__item">
                    <a class="active" href="@Url.Action("Experience", "Home")"><img src="/Images/experience.png" width="55px" alt="Skills"/>Experience</a>
                </li>
            </ul>
        </div>
    </aside>
}

<div class="col-12 col-md-12 col-lg-10">
<div class="box box-content">
<div class="pb-2">
    <h1 class="title title--h1 first-title title__separate"><img class="title-icon" src="/assets/icons/dark/icon-experience.svg" alt=""/> Experience</h1>
</div>

<!-- Experience -->
<div class="row">
    <div class="col-12">
        <div class="timeline">
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">Instructor/Lecturer Islamic Azad University of Tehran</h5>
                <span class="timeline__period">2022 - 2023</span>
                <p class="timeline__description">Teaching investment courses in the stock exchange</p>
                <p class="timeline__description">
                    Holding a workshop for the investment unit in the stock exchange, focusing on the
                    importance of creativity in the development of students through familiarity with
                    financial markets and creating motivation by providing up-to-date examples of
                    everyday events and the speed of changes in various fields, especially financial
                    markets.
                </p>
            </article>

            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">Lecturer</h5>
                <span class="timeline__period">2023 — 2023</span>
                <p class="timeline__description">Khatam university in Tehran.</p>
            </article>

            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">Lecturer Azad University of Ahvaz</h5>
                <span class="timeline__period">2012 - 2022</span>
                <p class="timeline__description">
                    Teaching the basics of organization and management, the basics of organizational
                    behavior, financial management 1 and 2, seminars on financial issues and investing
                    in the stock exchange.
                </p>
                <p class="timeline__description">
                    Writing a textbook titled Investing in the Stock Exchange according to the topics
                    provided by the university
                </p>
                <p class="timeline__description">
                    Cooperation with the research vice-chancellor of the university in the progress of
                    the establishment and launch of the technology growth center affiliated to Azad
                    University as a partner in compiling and reviewing the business plan of knowledge-
                    based companies. Cooperation with the Research Vice-Chancellor of Azad University and other units
                    of Khuzestan province
                </p>
                <p class="timeline__description">
                    Holding a workshop for investing in the stock exchange
                    Holding a workshop to increase the skill of searching for authentic scientific
                    articles
                    Identifying students&#39; talents and personality types and coordinating them in the
                    form of teamwork and group work for the seminar course on financial issues.
                </p>
            </article>
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">Lecturer Azad University of Abadan</h5>
                <span class="timeline__period">2011 - 2018</span>
                <p class="timeline__description">
                    -Teaching courses on the basics of organization and management, the basics of
                    organizational behavior, investing in the stock exchange, seminars on financial
                    issues and financial management 1 and 2
                </p>
                <p class="timeline__description">
                    5 free lectures in the field of finance and investment in the university in the form
                    of a specialized seminar with research points and certification
                </p>
                <p class="timeline__description">
                    Cooperation with the university in carrying out research projects and publishing
                    articles derived from the research project
                </p>
                <p class="timeline__description">
                    Holding a workshop for practical units
                    Identifying students&#39; talents and personality types and coordinating them in the
                    form of teamwork and group work for the seminar course on financial issues.
                </p>
                <p class="timeline__description">
                    -Increasing the skill of searching for reliable scientific articles, lectures and time
                    management, optimal collection of information in the seminar course on financial
                    issues by presenting a conference in the classroom with a focus on increasing
                    students&#39; self-confidence
                </p>
            </article>
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">
                    Lecturer General Training Center for the Management of Southern Regions Oil Company
                    Khuzestan, Ahvaz
                </h5>
                <span class="timeline__period">2017 - 2018</span>
                <p class="timeline__description">
                    Teaching and training the team behavior skills, the basics of organizational
                    behavior for operational department managers
                </p>
                <p class="timeline__description">
                    -Presenting materials according to the organization&#39;s approved headings in the form
                    of examples and case studies (case study)
                </p>
                <p class="timeline__description">
                    Creating a suitable and confident environment for presenting issues and problems
                    in the working field and providing solutions with appropriate techniques using
                    similar experiences from managers of different departments present in the course
                </p>
                <p class="timeline__description"></p>
            </article>
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">
                    Lecturer Khuzestan
                    Water and Electricity Scientific and Applied Institute of Khuzestan
                </h5>
                <span class="timeline__period">2014 - 2015</span>
                <p class="timeline__description">Teaching financial management courses 1 and 2 </p>
                <p class="timeline__description">
                    Practical training in the form of projects for practical units, continuous follow-up
                    during the academic semester for better learning and answering students&#39; questions
                    and doubts during the project, checking students&#39; performance at the end of the
                    semester and recording practical grades.
                </p>
            </article>
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">Lecture Azad University of Shooshtarr</h5>
                <span class="timeline__period">2012 - 2014</span>
                <p class="timeline__description">Teaching courses on money and currency and banking, investing in the stock
                <p class="timeline__description">
                    Teaching courses on money and currency and banking, investing in the stock
                    market and securities, financial management 1 and 2
                </p>
                <p class="timeline__description">Holding a workshop for the investment unit in the stock exchange</p>
                <p class="timeline__description">
                    Practical training in the form of projects for practical units, continuous follow-up
                    during the academic semester for better learning and answering students&#39; questions
                    and doubts during the project, checking students&#39; performance at the end of the
                    semester and recording practical grades.
                </p>
            </article>
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">Growth and Technology Centers Azad Universities Khuzestan Provinc</h5>
                <span class="timeline__period">2014 - 2021</span>
                <p class="timeline__description">-Preparation and formulation of business justification plan for companies</p>
                <p class="timeline__description">- Judging business justification plans</p>
            </article>
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">
                    Start-up Business Financial Advisor
                    Fanasa Plus Company Tehran
                </h5>
                <span class="timeline__period">2022 - 2023</span>
                <p class="timeline__description">
                    Cooperation in holding events and workshops in the financial and marketing
                    fields of startups
                </p>
                <p class="timeline__description">Consulting in the field of financing startup companies</p>
            </article>
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">
                    Start-up business consultant
                    Growth and technology centers of Azad universities of Khuzestan province
                </h5>
                <span class="timeline__period">2014 - 2023</span>
                <p class="timeline__description">
                    Preparation and formulation of business justification plan for companies
                </p>
                <p class="timeline__description">
                    Judging business justification plans
                    
                </p>
            </article>
            <!-- Item -->
            <article class="timeline__item">
                <h5 class="title title--h5 timeline__title">
                    Financial Advisor Shahriar Gostar Pars Service Company
                    Khuzestan
                </h5>
                <span class="timeline__period">2016 - 2017</span>
                <p class="timeline__description">
                    Examining and analyzing financial statements and reviewing the company&#39;s
                    performance to develop the company&#39;s future strategies
                </p>
            </article>
        </div>
    </div>
</div>
<div class="box box-content mb-2 shadow-sm" style="background-color: #F2F2F2">
    <!-- About -->
    <div class="pb-0 pb-sm-2">
        <h1 class="title title--h1 first-title title__separate"><img class="title-icon" src="/Images/presentation (1).png" alt=""/>Teaching</h1>
        <p>
            investing in the stock exchange, seminars on financial issues and
            financial management I and II, courses on the basics of organization and
            management, and the basics of organizational behavior
        </p>
    </div>
    <div class="pb-0 pb-sm-2">
        <h1 class="title title--h1 first-title title__separate"><img class="title-icon" src="/Images/presentation.png" alt=""/>Holding a workshop</h1>
        <p>
            Analysis, investment, and trading on financial markets
            (stock market, cryptocurrency, metaverse, and NFTs)
        </p>
    </div>
    <div class="pb-0 pb-sm-2">
        <h1 class="title title--h1 first-title title__separate"><img class="title-icon" src="/Images/12422776.png" alt=""/>Tasks and Achievements</h1>
        <p>
            Cooperation in holding events and workshops in the financial and marketing fields
            of startups.
        </p>
        <p>
            Consulting in the field of financing startup companies.
        </p>
        <p>
            Preparation and formulation of business plan justification for companies.
        </p>
        <p>
            analyzing financial statements and reviewing the company's performance to
            develop the company's future strategies
        </p>
    </div>
</div>
</div>
</div>