@{
    Layout = "_Layout";
}

@section aside
{
    <aside class="col-12 col-md-12 col-lg-2">
        <div class="sidebar box sticky-column">
            <ul class="nav">
                <li class="nav__item">
                    <a  href="@Url.Action("Index", "Home")"><i class="icon-user"></i>About</a>
                </li>
                <li class="nav__item">
                    <a class="active" href="@Url.Action("Research", "Home")"><i class="icon-codesandbox"></i>Research Projects</a>
                </li>
                <li class="nav__item">
                    <a href="@Url.Action("Skill", "Home")"><img src="/Images/logical-thinking.png" width="55px" alt="Skills"/>Skills</a>
                </li>
                <li class="nav__item">
                    <a href="@Url.Action("Education", "Home")"><img src="/Images/graduation-cap.png" width="55px" alt="Skills"/>Education</a>
                </li>
                <li class="nav__item">
                    <a href="@Url.Action("Experience", "Home")"><img src="/Images/experience.png" width="55px" alt="Skills"/>Experience</a>
                </li>
            </ul>
        </div>
    </aside>
}

<div class="col-12 col-md-12 col-lg-10">
    <div class="box box-content">
        <!-- About -->
        <div class="pb-0 pb-sm-2">
            <h1 class="title title--h1 first-title title__separate"><img class="title-icon" src="/Images/research-and-development.png" alt=""/>Research Background</h1>
            <p>
                Writing a book titled “Investing in the Stock Market”, Yadvare Ketab
            </p>
            <p>
                Conducting a Ph.D. thesis titled Smart Money Conceptional Modeling in the Iranian
                Stock Market Based on the Grounded Theory.
            </p>
            <p>
                Conducting a master's Thesis titled "Impact of Board Composition and Ownership
                Structure on Dividend Behavior with emphasis on variables interactive effects and
                type of industry by methods Pls and Gls”.
            </p>
            <p>
                Carrying out a research project titled “Investigating the Effect of Cultural, social,
                and Structural Intervening Factors on the Success of Iran's Top Entrepreneurs”
            </p>
            <p>
                Publication of the article titled "Smart Money Modeling in the Iranian Stock Market
                based on the Grounded Theory ", Journal of Financial Economics.
            </p>
            <p>
                Publication of an article titled "Identification and prioritization of the factors of the
                smart money pattern in the Iranian stock market using the hierarchical AHP
                technique". Journal of Development and Transformation Management.
            </p>
            <p>
                Publication of the article titled "Identification and Prioritization of Strategies and
                Consequences of the Entry of Smart Money in the Iranian Stock Market", The
                second national conference of Islamic Wisdom; Economics and Management.
            </p>
            <p>
                Publication of the article titled "Investigation of the effect of the composition of
                the board of directors on the behavior of profit sharing with an emphasis on the
                type of industry and the interactive effect of variables using GLS, PLS methods",
                The financial accounting and Auditing researcher.
            </p>
            <p>
                Publication of the article titled "Investigation of the Effect of Ownership Structure
                on the Dividend Policy in Companies Admitted to the Tehran Stock Exchange",
                Journal of Stock Exchange.
            </p>
            <p>
                Publication of the article titled "Investigation of the Influence of Cultural, social,
                and Structural Intervening Factors on the Success of Iran's Top Entrepreneurs".
                Journal of urban management.
            </p>
        </div>
        <div class="pb-0 pb-sm-2">
            <h1 class="title title--h1 first-title title__separate"><img class="title-icon" src="/Images/certificate.png" alt=""/>Certificates</h1>
            <h5>
                technical analysis in financial markets
                (Preliminary and advanced)
            </h5>
            <p>
                Institution: Department of Finance and Investment,
                Sharif University of Technology. In Oct 2017
            </p>
            <h5>
                Financial Statement Analysis (Preliminary)
            </h5>
            <p>
                Institution: Department of Finance and Investment,
                Sharif University of Technology. In July 2017
            </p>
            <h5>
                Feasibility Study of Projects
            </h5>
            <p>
                Institute: Department of Finance and Investment,
                Sharif University of Technology. In Sep 2016
            </p>
        </div>
        <div class="pb-0 pb-sm-2">
            <h1 class="title title--h1 first-title title__separate"><img class="title-icon" src="/Images/project.png" alt=""/>Projects</h1>
            <p>
                Cooperation in the preparation of the Business Plan of the Development Center of
                New Technologies of Ahvaz Azad University
            </p>
            <p>
                Cooperation in the preparation of the Business Plan of the Animal Husbandry and
                Animal Science Development Center of Azad Behbahan University
            </p>
            <p>
                Preparation of Business Plan for the construction of Rozhin tomato paste factory in
                Behbahan.
            </p>
        </div>
        <div class="pb-0 pb-sm-2">
            <h1 class="title title--h1 first-title title__separate"><img class="title-icon" src="/Images/honors.png" alt=""/>Honors</h1>
            <p>
                Received a certificate of appreciation from the
                vice president of research and technology of
                the Azad University of Ahvaz, in February 2013
            </p>
            <p>
                Received a certificate of appreciation for
                cooperation with the Accounting Scientific
                Association of Azad University of Ahvaz, in May
                2012
            </p>
        </div>
    </div>
</div>